/* 

TYPOGRAPHY
Font weight
Default: 400
Medium 500
Semi bold 600
Bold 700

Line heights
Default: 1
1.05
Text 1.6

COLOR 

Grey #555
Orange #d94a0d
Blue #043157

SHADOWS

BORDER RADIUS 

WHITESPACE

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* persentage of user browser font-size setting*/
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/* -----------------REUSABLE ELEMENTS------------------------ */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.1;
  color: #d94a0d;
  margin-bottom: 1rem;
}

.btn-orange1:link,
.btn-orange1:visited {
  display: inline-block;
  background-color: #d94a0d;
  color: #fefefe;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 150px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s;
}

.btn-orange1:hover,
.btn-orange1:active {
  background-color: #c3430c;
}

/* -------------HEADER SECTION -------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #043157;
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: underline;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #d94a0d;
  border-radius: 150px;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c3430c;
}

/* -------------HERO SECTION-------------- */

.section-hero {
  background-color: #fefefe;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.9rem;
  align-items: center;
}

.subheading {
  font-size: 2rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #043157;
  margin-bottom: 2.4rem;
  font-weight: 600;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
  border-radius: 50px;
}

/* ------------- ABOUT SECTION-------------- */

.section-about {
  padding: 9.6rem 0;
  background-color: #f5f5f5;
}

.step-img {
  width: 50%;
}
